<!DOCTYPE html>
<html lang="en">
<head>
    <title>Legends</title>
</head>
<body>
<ul>
    {{range .}}
    <li>{{.}}</li>
    {{end}}
{{/*    END the RANGE. DO NOT FORGET TO END RANGE*/}}
</ul>
</body>
</html>